/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;500&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --white-color: hsl(0, 0%, 100%);
  --black-color: hsl(0, 0%, 0%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Montserrat Alternates", sans-serif;
  --h1-font-size: 1.5rem;
  --normal-font-size: .938rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-medium: 500;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1150px) {
  :root {
    --normal-font-size: 1rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: #111;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

/*=============== HEADER & NAV ===============*/
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: var(--black-color);
  z-index: var(--z-fixed);
}

.nav {
  position: relative;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  color: var(--white-color);
  font-weight: var(--font-medium);
}

.nav__close, 
.nav__toggle {
  display: flex;
  color: var(--white-color);
  font-size: 1.5rem;
  cursor: pointer;
}

/* Navigation for mobile devices */
@media screen and (max-width: 1150px) {
  .nav__menu {
    position: fixed;
    left: -100%;
    top: 0;
    background-color: var(--black-color);
    width: 100%;
    height: 100%;
    padding: 6rem 3.5rem 4.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: left .4s;
  }

  .nav__item {
    transform: translateX(-150px);
    visibility: hidden;
    transition: transform .4s ease-out, visibility .4s;
  }

  .nav__item:nth-child(1) {
    transition-delay: .1s;
  }
  .nav__item:nth-child(2) {
    transition-delay: .2s;
  }
  .nav__item:nth-child(3) {
    transition-delay: .3s;
  }
  .nav__item:nth-child(4) {
    transition-delay: .4s;
  }
  .nav__item:nth-child(5) {
    transition-delay: .5s;
  }
}

.nav__list, 
.nav__social {
  display: flex;
}

.nav__list {
  flex-direction: column;
  row-gap: 3rem;
}

.nav__link {
  position: relative;
  color: var(--white-color);
  font-size: var(--h1-font-size);
  font-weight: var(--font-medium);
  display: inline-flex;
  align-items: center;
  transition: opacity .4s;
}

.nav__link i {
  font-size: 2rem;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transition: opacity .4s, visibility .4s;
}

.nav__link span {
  position: relative;
  transition: margin .4s;
}

.nav__link span::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0;
  height: 2px;
  background-color: var(--white-color);
  transition: width .4s ease-out;
}

/* Animation link on hover */
.nav__link:hover span {
  margin-left: 2.5rem;
}

.nav__link:hover i {
  opacity: 1;
  visibility: visible;
}

.nav__link:hover span::after {
  width: 100%;
}

/* Sibling fade animation */
.nav__list:has(.nav__link:hover) .nav__link:not(:hover) {
  opacity: .4;
}

.nav__close {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
}

.nav__social {
  column-gap: 1rem;
}

.nav__social-link {
  color: var(--white-color);
  font-size: 1.5rem;
  transition: transform .4s;
}

.nav__social-link:hover {
  transform: translateY(-.25rem);
}

/* Show menu */
.show-menu {
  left: 0;
}

/* Animation link when displaying menu */
.show-menu .nav__item {
  visibility: visible;
  transform: translateX(0);
}

/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (min-width: 1150px) {
  .container {
    margin-inline: auto;
  }

  .nav {
    height: calc(var(--header-height) + 2rem);
  }

  .nav__toggle, 
  .nav__close {
    display: none;
  }

  .nav__link {
    font-size: var(--normal-font-size);
  }

  .nav__link i {
    font-size: 1.5rem;
  }

  .nav__list {
    flex-direction: row;
    column-gap: 3.5rem;
  }

  .nav__menu {
    display: flex;
    align-items: center;
    column-gap: 3.5rem;
  }
}

.rojo {
  color: red;
}
h1 {
    color: #F5F5DC; /* Beige color */
    font-size: 2em; /* Larger font size for emphasis */
    text-shadow: 2px 2px 4px #000000; /* Adds a subtle shadow for depth */
    font-family: 'Orbitron', sans-serif; /* A futuristic font suitable for gaming */
    text-align: center; /* Center aligns the text */
    margin: 20px 0; /* Adds some space above and below the h1 */
    background: linear-gradient(90deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0) 100%); /* Adds a gradient background */
    padding: 10px; /* Adds padding for better readability */
    border-radius: 10px; /* Slight rounding of corners for a modern look */
}
.video-guide iframe {
    width: 100%;
    max-width: 560px;
    height: auto;
    aspect-ratio: 16/9;
    border-radius: 20px; /* Ajusta el valor según el nivel de redondez que desees */
    overflow: hidden; /* Asegura que el contenido del iframe no se desborde más allá de los bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Añade una sombra para mayor profundidad */
}

/*ESTILOS PARA PARRAFO*/
.parrafo {
    color: #F5F5DC; /* Beige color */
    font-size: 1.1em; /* Similar thickness to <b> */
    text-align: left; /* Align text to the left */
    margin: 20px; /* Margin around the paragraph */
    padding: 20px; /* Padding inside the border */
    border: 1px solid #802; /* Thin beige border */
    border-radius: 20px; /* No rounded corners */
    box-shadow: 2px 2px 5px rgba(255, 0, 0, 0.2); /* Light red shadow */
    background-color: #1a1a1a; /* Dark background for contrast */
    font-family: 'Arial', sans-serif; /* Clean, readable font */
}

/*BOTON DE COLORES*/
.boton {
    display: flex;
    justify-content: center; /* Centra el contenido horizontalmente */
    padding: 20px; /* Añade un poco de espacio alrededor del botón */
}

button {
    --border-radius: 15px;
    --border-width: 4px;
    appearance: none;
    position: relative;
    padding: 1em 2em;
    border: 0;
    background-color: #212121;
    font-family: "Roboto", Arial, "Segoe UI", sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    z-index: 2;
}

button::after {
    --m-i: linear-gradient(#000, #000);
    --m-o: content-box, padding-box;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: var(--border-width);
    border-radius: var(--border-radius);
    background-image: conic-gradient(
        #488cfb,
        #29dbbc,
        #ddf505,
        #ff9f0e,
        #e440bb,
        #655adc,
        #488cfb
    );
    -webkit-mask-image: var(--m-i), var(--m-i);
    mask-image: var(--m-i), var(--m-i);
    -webkit-mask-origin: var(--m-o);
    mask-origin: var(--m-o);
    -webkit-mask-clip: var(--m-o);
    mask-composite: exclude;
    -webkit-mask-composite: destination-out;
    filter: hue-rotate(0);
    animation: rotate-hue linear 500ms infinite;
    animation-play-state: paused;
}

button:hover::after {
    animation-play-state: running;
}

@keyframes rotate-hue {
    to {
        filter: hue-rotate(1turn);
    }
}

button,
button::after {
    box-sizing: border-box;
}

button:active {
    --border-width: 5px;
}

/*EFECTO PAGINA*/
@keyframes bounceIn {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.efecto {
  opacity: 0;
}

.efecto.animated {
  animation: bounceIn 1s ease forwards;
}

.efecto.delay-1 {
  animation-delay: 1s;
}

.efecto.delay-2 {
  animation-delay: 2s;
}

.efecto.delay-3 {
  animation-delay: 3s;
}

/*EFECTO IZQUIERDA*/

@keyframes slideInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.efecto-izquierda {
  opacity: 0;
}

.efecto-izquierda.animated {
  animation: slideInFromLeft 1s ease forwards;
}

.efecto-izquierda.delay-1 {
  animation-delay: 1s;
}

.efecto-izquierda.delay-2 {
  animation-delay: 2s;
}

.efecto-izquierda.delay-3 {
  animation-delay: 3s;
}

/*DERECHA*/

@keyframes slideInFromRight {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.efecto-derecha {
  opacity: 0;
}

.efecto-derecha.animated {
  animation: slideInFromRight 1s ease forwards;
}

.efecto-derecha.delay-1 {
  animation-delay: 1s;
}

.efecto-derecha.delay-2 {
  animation-delay: 2s;
}

.efecto-derecha.delay-3 {
  animation-delay: 3s;
}

.card-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      padding: 10px;
    }
    .card a {
      display: inline-block;
      margin: 0.5rem 0;
      padding: 0.5rem 1rem;
      background-color: #007bff;
      color: white;
      text-decoration: none;
      border-radius: 4px;
      transition: background-color 0.3s;
    }
    .card a:hover {
      background-color: #0056b3;
    }

    .card {
      border: 1px solid #ff0000;
      border-radius: 20px;
      margin: 20px;
      padding: 20px;
      width: calc(100% - 40px);
      background-color: #2c2c2c;
      transition: transform 0.3s ease;
      color: #fff;
    }

    .card:hover {
      transform: translateY(-5px);
      box-shadow: 0 5px 15px rgba(255, 0, 0, 0.3);
    }

    .card img {
      max-width: 100%;
      height: auto;
      border-radius: 15px;
    }

    .card h2 {
      margin-top: 10px;
      font-size: 18px;
      text-align: center;
    }

    .paginator {
      margin-top: 20px;
      text-align: center;
    }

    .paginator button {
      padding: 8px 16px;
      margin: 0 5px;
      cursor: pointer;
      border: none;
      border-radius: 5px;
      
      color: #fff;
      font-size: 14px;
      transition: background-color 0.3s ease;
    }

    .paginator button:hover {
      /*background-color: #cc0000;*/
    }

    #pageCounter {
      font-weight: bold;
      font-size: 16px;
    }

    @media (min-width: 600px) {
      .card {
        width: calc(50% - 40px);
      }
    }

    @media (min-width: 900px) {
      .card {
        width: calc(33.33% - 40px);
      }
    }

    @media (min-width: 1200px) {
      .card {
        width: calc(25% - 40px);
      }
    }
/* Scrollbar total */
::-webkit-scrollbar {
    width: 12px; /* Ancho del scrollbar */
}

/* Fondo del scrollbar */
::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color de fondo */
    border-radius: 10px; /* Bordes redondeados */
}

/* Barra de desplazamiento */
::-webkit-scrollbar-thumb {
    background: #ff0000; /* Color rojo de la barra de desplazamiento */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3); /* Sombra interior */
}

/* Barra de desplazamiento al pasar el cursor */
::-webkit-scrollbar-thumb:hover {
    background: #cc0000; /* Color rojo más oscuro al pasar el cursor */
}

/* Firefox */
* {
    scrollbar-width: thin; /* Grosor del scrollbar */
    scrollbar-color: #ff0000 #f1f1f1; /* Color rojo de la barra de desplazamiento y color de fondo */
}

/* Internet Explorer y Edge */
.scrollbar {
    -ms-overflow-style: -ms-autohiding-scrollbar; /* Scrollbar auto-ocultante */
}
